fastapi==0.111.1
uvicorn[standard]==0.22.0
SQLAlchemy==2.0.19
python-dotenv==1.0.0
pdfplumber==0.7.7
python-docx==0.8.11
cloudinary==1.44.2
pymysql==1.0.3
google-generativeai==0.8.6
httpx==0.27.2
pdfminer.six==20221105
python-multipart==0.0.6
pydantic==2.9.0
